* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Sans', Arial, Helvetica, sans-serif;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 390px;
  height: 100vh;
  background: #FAF3E0;
  position: relative;
}

/* Navbar */

.nav-link {
    text-decoration: none;
    color: inherit;
}

#site-nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 44px;
  z-index: 2000;
}

.bottom-nav {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 44px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 8px;
}

.nav-item {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dfa158;
  font-size: 9px;
  gap: 2px;
  cursor: pointer;
}


/* Icon container */
.nav-icon {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

/* Default size for all navbar icons */
.nav-icon img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

/* Individual icon adjustments */
.nav-icon img[src*="home.svg"] {
  width: 30px;
  height: 30px;
}

.nav-icon img[src*="map_icon.svg"] {
  width: 25px;
  height: 25px;
}

.nav-icon img[src*="shop.svg"] {
  width: 21px;
  height: 21px;
}

.nav-icon img[src*="profile.svg"] {
  width: 21px;
  height: 21px;
}

.nav-link.active .nav-icon::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F3DCC3;
  border-radius: 50%;
  z-index: -1;
}

.nav-icon img {
  position: relative;
  z-index: 1;
  object-fit: contain;
}

.nav-item span {
  font-size: 10px;
}


/* Centre add button */

.walking-button {
  width: 45px;
  height: 45px;
  background: #edd5bc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3934c;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.walking-button img {
  width: 27px;
  height: 27px;
  object-fit: contain;
}

/* Top banner */

.top-banner {
  height: 98px;
  background-color: #d89c5c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

